.UpcomingEvents p {
    margin-top: 1rem;
    color: var(--dark-grey-clr);
}
.UpcomingEvents h4 {
    margin: 0 auto;
    text-align: center;
    margin-top: 2rem;
    color: var(--dark-grey-clr);
}
.UpcomingEvents  .go-to-link {
    color: var(--dark-purple-clr);
}
.UpcomingEvents .go-to-link:hover {
    text-decoration: underline;
}